[submodule "crazy_encirclement"]
	path = crazy_encirclement
	url = git@github.com:dimitriasilveria/crazy_encirclement.git
[submodule "controller_pkg"]
	path = controller_pkg
	url = git@github.com:dimitriasilveria/crazy_tests.git
[submodule "crazyswarm2"]
	path = crazyswarm2
	url = git@github.com:dimitriasilveria/crazyswarm2.git
[submodule "motion_capture_tracking"]
	path = motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking.git
[submodule "crazy_demo"]
	path = crazy_demo
	url = git@github.com:dimitriasilveria/crazy_demo.git
[submodule "crazy_encirclement_interfaces"]
	path = crazy_encirclement_interfaces
	url = git@github.com:paaraujo/crazy_encirclement_interfaces.git
